# ML Service Configuration
FLASK_APP=app.py
FLASK_ENV=production
ML_PORT=8000

# Model Configuration
MODEL_PATH=./models/Cacao_InceptionV3_best.tflite
KERAS_MODEL_PATH=./models/Cacao_InceptionV3_best.keras
